<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>8</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/MasterCodeKillr/Vanguard_AIO/main/published/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <MinimumRequiredVersion>1.0.0.3</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Users\Dustin\source\repos\MasterCodeKillr\Vanguard_AIO\published\</PublishDir>
    <PublishUrl>C:\Users\Dustin\source\repos\MasterCodeKillr\Vanguard_AIO\published\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/MasterCodeKillr/Vanguard_AIO/main/published/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-03-17T17:54:26.1453210Z;True|2023-03-17T13:40:30.2681844-04:00;True|2023-03-10T12:45:51.4484456-05:00;True|2023-03-10T12:42:48.4000952-05:00;</History>
  </PropertyGroup>
</Project>